@import 'src/Shared/variables';

.form {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	padding: 6px !important;

	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		&--buttons {
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
		}
	}

	&__item {
		width: 250px;
		flex-grow: 1;
		margin-bottom: 0 !important;
		padding: 10px !important;
	}

	&__input {
		margin-top: 8px !important;

		&--medium {
			min-width: 50%;
		}

		&--big {
			min-width: 66.6%;
		}
	}

	&__date-picker {
		display: block !important;
	}

	&__subtitle {
		display: block;
		width: 100%;
		padding-left: 10px;

		font-size: 20px;
		font-weight: 500;
	}

	&__button {
		margin: 10px;
		font-size: 15px !important;
		font-weight: 500 !important;
		text-transform: uppercase;

		&--save {
			color: #ffffff !important;
			background-color: $primary-color !important;
		}

		&--cancel {
			color: $primary-color !important;
		}

		&--delete {
			color: $error-color !important;
			border-color: $error-color !important;
		}
	}
}
