.wrapper__form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &-icon {
    height: 40px;
    width: 40px;
    padding: 9px 10px;
    border-radius: 50px;
    background-color: #C51162;
    &-i {
      color: white!important;
    }
  }
  p {
    padding-top: 15px;
  }
}