.sidebar {
  min-height: 100vh;
  background-color: #7986cb;
  &__item {
    background-color: #7986cb;
    color: #fff;
    border: none;
  }
  &__icon {
    font-size: 22px !important;
  }
}
.ant-menu {
  background-color: #7986cb !important;
}
